[flake8]
show_source = false
statistics = false

max-line-length = 119
# flake8-tidy-imports
ban-relative-imports = true

# Black has conflicting logic here
# E203: Whitespace before ':'
extend-ignore=E203

# Enable the following errors everywhere in the project
# B902: Invalid first argument used for method. Use `self` for instance methods, and `cls` for class methods
# B904: Within an `except` clause, raise exceptions with `raise ... from err` or `raise ... from None`
extend-select=
    B902,
    B904,

# Ignore the following errors everywhere in the project
# ANN002: Missing type annotation for *args
# ANN003: Missing type annotation for **kwargs
# ANN101: Missing type annotation for self in method
# ANN102: Missing type annotation for cls in classmethod
# ANN204: Missing return type annotation for special method
# PT011: pytest.raises without match parameter is too broad
ignore=
    ANN002,
    ANN003,
    ANN101,
    ANN102,
    ANN204,
    PT011,

# Ignore the following errors in specific files
# DALL000: Module lacks __all__.
# ANN: All flake8-annotations errors
per-file-ignores=
    tests/*:                    DALL000,ANN
