[flake8]
max-line-length=119
extend-ignore=E203
extend-select=B902,B904
application-import-names=mcproto
ban-relative-imports=true
exclude=.venv,.git,.cache
ignore=
    ANN002, # *args annotation
    ANN003, # **kwargs annotation
    ANN101, # self param annotation
    ANN102, # cls param annotation
    ANN204, # return type annotation for special methods
per-file-ignores=test_*.py:ANN
