[tool.poetry]
name = "mcproto"
version = "0.0.1a4.dev11+b8fa5cf" # Versioning handled by poetry-dynamic-versioning
description = "Library providing easy interactions with minecraft servers"
authors = ["ItsDrike <itsdrike@protonmail.com>"]
license = "LGPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/py-mine/mcproto"
documentation = "https://mcproto.readthedocs.io/"
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Games/Entertainment",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: System :: Networking",
  "Typing :: Typed",
]
include = ["CHANGELOG.md"]
packages = [{ include = "mcproto" }]

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
asyncio-dgram = "^2.1.2"
typing-extensions = "^4.4.0"
semantic-version = "^2.10.0"

[tool.poetry.group.dev.dependencies]
pre-commit = ">=2.18.1,<4.0.0"
taskipy = "^1.10.4"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"
pytest-cov = ">=3,<5"

[tool.poetry.group.lint.dependencies]
flake8 = "^6.0.0"
flake8-annotations = ">=2.9,<4.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^23.3.23"
flake8-builtins = "^2.1.0"
flake8-comprehensions = "^3.12.0"
flake8-dunder-all = "^0.3.0"
flake8-functions = "^0.0.8"
flake8-future-annotations = ">=0.0.5,<1.1.1"
flake8-noqa = "^1.3.1"
flake8-pep3101 = "^2.0.0"
flake8-pep585 = { version = "^0.1.5", python = ">=3.9" }
flake8-print = "^5.0.0"
flake8-printf-formatting = "^1.1.2"
flake8-pytest-style = "^1.6.0"
flake8-raise = "^0.0.5"
flake8-simplify = "^0.20.0"
flake8-tidy-imports = "^4.6.0"
pep8-naming = "^0.13.3"
black = ">=22.3,<24.0"
isort = "^5.10.1"
pyright = "^1.1.306"
codespell = {extras = ["tomli"], version = "^2.2.4"}
slotscheck = "^0.16.1"

[tool.poetry.group.release.dependencies]
towncrier = "^22.12.0"

[tool.poetry.group.release-ci]
optional = true

[tool.poetry.group.release-ci.dependencies]
poetry-dynamic-versioning = "^0.21.5"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^6.2.1"
tomli = { version = "^2.0.1", python = "<3.11" }
m2r2 = "^0.3.3.post2"
packaging = "^23.1"
sphinx-autodoc-typehints = "^1.23"
sphinx-copybutton = "^0.5.2"
furo = ">=2022.12.7"
sphinxcontrib-towncrier = "^0.3.2a0"

[tool.poetry.group.docs-ci]
optional = true

[tool.poetry.group.docs-ci.dependencies]
poetry-dynamic-versioning = "^0.21.5"
taskipy = "^1.10.4"

[tool.black]
line-length = 119

[tool.isort]
profile = "black"
line_length = 119
atomic = true
order_by_type = false
case_sensitive = true
combine_as_imports = true

[tool.codespell]
skip = "./.venv/*,./htmlcov/*,./.git,./.mypy_cache/*,./.pytest_cache/*,./poetry.lock"
ignore-words-list = "ned"

[tool.pytest.ini_options]
minversion = "6.0"
asyncio_mode = "auto"
testpaths = ["tests"]
addopts = "--strict-markers --cov --no-cov-on-fail"

[tool.coverage.report]
precision = 2
fail_under = 20
show_missing = true
skip_covered = false
skip_empty = false
sort = "cover"
exclude_lines = [
    "\\#\\s*pragma: no cover",
    "^\\s*if (typing\\.)?TYPE_CHECKING:",
    "^\\s*@(abc\\.)?abstractmethod",
    "^\\s*@(typing\\.)?overload",
    "^\\s*def __repr__\\(",
    "^\\s*class .*\\bProtocol\\):",
    "^\\s*raise NotImplementedError",
    "^\\s*return NotImplemented",
    "^\\s*\\.\\.\\.",
]

[tool.coverage.run]
relative_files = true
parallel = true
branch = true
timid = false
source = ["mcproto"]

[tool.towncrier]
package = "mcproto"
package_dir = "mcproto"
directory = "changes"
template = "changes/.template.rst"
filename = "CHANGELOG.md"
issue_format = "[#{issue}](https://github.com/py-mine/mcproto/issues/{issue})"
orphan_prefix = "+"   # Use '+' instead of number for fragments not connected to any PR
underlines = [2, 3]  # We use this for heading levels (see template file)
type = [
    { name = "Breaking Changes",            directory = "breaking",      showcontent = true },
    { name = "Deprecation",                 directory = "deprecation",   showcontent = true },
    { name = "Features",                    directory = "feature",       showcontent = true },
    { name = "Bugfixes",                    directory = "bugfix",        showcontent = true },
    { name = "Documentation Improvements",  directory = "docs",          showcontent = true },
    { name = "Internal Changes",            directory = "internal",      showcontent = true },
]

[tool.slotscheck]
strict-imports = true
require-superclass = true
require-subclass = true
exclude-modules = '''
(
  ^test  # ignore any tests
  |^.github/scripts  # Ignore any CI scripts
  |^mcproto\.utils\.version  # Dataclasses below python 3.10 don't support __slots__ due to default value fields being treated as classvars.
)
'''

[tool.taskipy.tasks]
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
black = "black ."
isort = "isort ."
pyright = "pyright ."
flake8 = "flake8 ."
codespell = "codespell ."
slotscheck = "slotscheck -m mcproto"
test = "pytest -v --failed-first"
retest = "pytest -v --last-failed"
test-nocov = "pytest -v --no-cov --failed-first"
retest-nocov = "pytest -v --no-cov --last-failed"
changelog-preview = "towncrier build --draft --version next"
docs = "sphinx-build -b dirhtml -d ./docs/_build/doctrees -W -E -T --keep-going ./docs ./docs/_build/html"

[tool.poetry-dynamic-versioning]
enable = true
bump = true
vcs = "git"
style = "pep440"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"
