---
name: Validation

on: workflow_call

env:
  PYTHON_VERSION: "3.13"
  PRE_COMMIT_HOME: "/home/runner/.cache/pre-commit"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: ${{ env.PYTHON_VERSION }}
          activate-environment: true
          enable-cache: true
          cache-suffix: "validation"

      - name: Install dependencies
        run: |
          # We need the test dependencies too so that pyright can type-check the tests/ code too
          uv sync --no-default-groups --group lint --group test

      - name: Get precommit version
        id: precommit_version
        run: |
          PACKAGE_VERSION=$(uv pip list --format json | jq -r '.[] | select(.name == "pre-commit") | .version')
          echo "version=$PACKAGE_VERSION" >> $GITHUB_ENV

      - name: Pre-commit Environment Caching
        uses: actions/cache@v4
        with:
          path: ${{ env.PRE_COMMIT_HOME }}
          key:
            "precommit-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ steps.precommit_version.outputs.version }}-\
            ${{ hashFiles('./.pre-commit-config.yaml') }}"
          # Restore keys allows us to perform a cache restore even if the full cache key wasn't matched.
          # That way we still end up saving new cache, but we can still make use of the cache from previous
          # version.
          restore-keys: "precommit-${{ runner.os }}-${{ env.PYTHON_VERSION}}-"

      - name: Run pre-commit hooks
        run: SKIP=ruff-linter,ruff-formatter,slotscheck,basedpyright,uv-lockfile pre-commit run --all-files

      - name: Run ruff linter
        run: ruff check --output-format=github --show-fixes --exit-non-zero-on-fix .

      - name: Run ruff formatter
        run: ruff format --diff .

      - name: Run slotscheck
        run: slotscheck -m mcproto

      - name: Run basedpyright type checker
        run: basedpyright --warnings .

      - name: Check UV Lockfile
        run: uv lock --check
